@use "../../styles/variables.scss" as *;

header {
  display: block;
  margin-top: 1rem;
}

#links-header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  font-size: 1.2em;
  justify-content: space-between;
  margin: 0 0.2em;
  margin-bottom: 0.5rem; /* Add this line */

  span {
    margin-top: 0.75em;
  }

  img {
    height: 1em;
    margin: 0 0.3em 0 0;
    vertical-align: sub;
  }

  a {
    color: var(--dark);
  }
}

@media #{$mobile} {
  #links-header img { /* Add this line */
    display: none; /* Hide the icons */
  }
  #links-header a { /* Add this line */
    font-size: 0.8rem; /* Reduce font size */
  }
}